*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(129, 243, 243);
}
.cointainer{
    height: 100vh;
    width: 100vw;
}
.meet-box button{
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    height: 39px;
    width: 240px;
    margin: 10px;
    font-family: initial;
    font-size: 20px;
}
.box{
    display: flex;
    padding: 10px;
    margin: 20px;
}
i{
    border: 2px solid black;
}
img{
    height: 300px;
    width: 250px;
    position: absolute;
    border: 2px solid black;
}
.box1{
    position: relative;
    height: 50vh;
    display: flex;
}
.box1 button{
    color: white;
    background-color: rgb(173, 116, 9);
    border: 2px solid black;
    border-radius: 20px;
    height: 39px;
    width: 195px;
    margin: 10px;
    font-family: initial;
    font-size: 20px;
    position: absolute;
    bottom: 0;
}
.box2{
   
    height: 300px;
    width: 250px;
    
}
.div_img{
    position:relative;
   

}
.box1, .box2, .box3 , .box4{
    width: 33%;
}