*{
    padding: 0%;
    margin: 0%;
 }
 body{
    background-color: rgb(175, 206, 206);
 }
 .cointainer{
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    justify-items: center;
    /* border: 20px solid black; */
 }
 .header{
    background-color: black;
    display: flex;
 }
 .logo{
background-color: rgb(253, 252, 252);

 }
 .opstion{
    background-color: black;
 }

 select{
background-color: black;
color: white;
 }
button{
background-color: black;
color: white;
}
 
.b1{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
}
.div{
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}
.div p{
    padding: 5px;
    justify-content: center;
}
.div1 img, .div2 img, .div3 img{
    border-radius: 100%;
}
.div1 p{
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
}

br{
    padding: 10px;
    margin: 10px;
}
.div2 p{
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
}
.div3 p{
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
}
.main-class{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(247, 243, 243);
    padding: 50px;
    margin: 100px;
    
}
.div{
    display: flex;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.div1{
    width: 30%;
    /* display: flex; */
}
.div2{
    /* display: flex; */
    width: 30%;
}.div3{
    width: 30%;
    /* display: flex; */
}
*p{
    
}
.div1 img p h2{
    text-align: center;
}
.div2 img p{
    text-align: center;
}
.div3 img p{
    text-align: center;
}
.contain h1{
text-align: center;
}
.div p{
    padding: 20px;
}
.div1 h2{
    padding: 10px;
}
.div2 h2{
    padding: 10px;
}
.div3 h2{
    padding: 10px;
}