*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.head h1{
    padding-top: 10px;
}
.maindiv{
    display: flex;
    justify-content: space-evenly;
}
i{
    margin-right: 10px;
}
.navbar ul{
    display: inline-block;
    width: 100%;
}
.navbar ul li{
    display: inline-block;
    position: relative;
    /* float: left; */
}
.navbar ul li a{
    display: inline-block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 15px;
    transition: all ease 0.3s;
}
.navbar ul li a:hover{
    color: red;
    
}

.navbar ul li.dropdown ul{
    /* background-color: rgb(197, 191, 191); */
    position: absolute;
    border-bottom: .5px solid lightgray;
    left: 0;
    padding-left: 0;
    /* min-width: 280px; */
    /* min-height: 280px; */
    display: none;
}
.navbar ul li.dropdown ul li{
    border-bottom: 1px solid lightgray;
}
.dropdown ul li{
    color: black;
    width: 100%;
}
.dropdown:hover .one{
    display: block;
}
.maindiv i{
    padding-top: 20px;
}
.box ul{
    display: flex;
    flex-direction: column;
}
.updown {
    position: relative;
}
.sitdown{
    position: absolute;
    left: 100%;
    right:0;
    top: 0;
    display: none;
 
}
.sitdown li {
    padding: 3px;
}
.updown:hover .sitdown{
    position: absolute;
    left: 100%;
    top: 0;
    display: block;
}
.two {
    position: absolute;
    left: 100%;
    right:0;
    top: 0;
    display: none;
 
}
.sitdown:hover .two{
    display: block;
    left: 100%;
    position: absolute;
}
.box ul{
    display: none;
    position: absolute;
    left: 0;
}
.box ul:hover .box ul{
    display: block;
}

