*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(240, 245, 250);
}
.cointainer{
    height: 100vh;
    width: 100%;
}
.head h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
}
.box{
    display: flex;
    
}
.head h5{
    font-size: 15px;
    text-align: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 40px;
}
.box1{
    border: 1px solid black;
    width: 100%;
    max-width: 270px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px lightgray;
    border: none;
    border-radius: 0 0 113px 0;

}
.main-box{
    width: 100%;
    max-width: 270px;
    background-color: rgb(26, 26, 107);
    border-radius: 15px;
}
.box h3{
    font-size: 30px;
    padding-top: 10px;
}
span{
    /* padding: 40px; */
    display: block;
    padding: 10px;
}
.box h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding-top: 40px;
}
.text{
    padding: 20px;
}
button{
    padding: 10px;
    background-color: rgb(60, 60, 141);
    color: white;
    border: none;
}